---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import logo from '../assets/logo.png';
import yonne from '../assets/yone.jpeg';
import EmailIcon from '../assets/icons/Email.astro';
import LinkedInIcon from '../assets/icons/LinkedIn.astro';
import GithubIcon from '../assets/icons/GitHub.astro';
import Socials from '../components/Socials.astro';
import BadgeShine from '../components/BadgeShine.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
        
        <section class="w-full mx-auto py-44 lg:w-[720px] ">
            <div class="flex items-center  gap-2 mb-4">
                <img 
                    src={yonne.src}  
                    class="w-16 h-16 rounded-full"
                    alt="Logo" 
                />
                <a class="flex">
                    <Badge>Disponible para trabajar</Badge> 
                </a>
            </div>
            <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
                Hola, Soy Bryant Ponce 
                
            </h1>
            <h2 class="text-2xl opacity-80 text-wrap">Desarrollador Web Full Stack</h2>
            <p class="mt-4 text-white/70">
                Cuento con experiencia en la creación de 
                <span class="text-blue-400 font-semibold">aplicaciones web</span> y 
                <span class="text-blue-400 font-semibold">de escritorio</span> escalables, utilizando 
                <span class="text-purple-400 font-semibold">tecnologías modernas de Microsoft</span> y 
                <span class="text-yellow-300 font-semibold">JavaScript</span>.
            </p>
            <p class="mt-2 text-sm text-white/50 italic mb-3">
                Actualmente me encuentro aprendiendo <span class="text-sky-400 font-semibold">React</span> para ampliar mis habilidades.
            </p>

            <nav class="flex gap-x-2">
                <Socials href="https://www.linkedin.com/in/bryant-ponce/" title="LinkedIn">
                    <LinkedInIcon class="w-6 h-6 text-white" /> LinkedIn
                </Socials>
                <Socials href="https://github.com/BryantGit" title="GitHub">
                    <GithubIcon class="w-6 h-6 text-white" /> GitHub
                </Socials>
            </nav>
           

            </section>
    </main>
</Layout>
