---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import logo from '../assets/logo.png';
import yonne from '../assets/yone.jpeg';
import EmailIcon from '../assets/icons/Email.astro';
import LinkedInIcon from '../assets/icons/LinkedIn.astro';
import GithubIcon from '../assets/icons/GitHub.astro';
import Socials from '../components/Socials.astro';
import BadgeShine from '../components/BadgeShine.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import BadgeDisponibilidad from '../components/BadgeDisponibilidad.astro';
import About from '../components/About.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Bryant Ponce Ingeniero de Software" description="Desarrollador Web Full Stack">
	<main class="px-4">

        <SectionContainer  id="home">
            <div class="flex items-center  gap-2 mb-4">
                <img 
                    src={yonne.src}  
                    class="w-16 h-16 rounded-full"
                    alt="Logo" 
                />
                <a class="flex">
                    <BadgeDisponibilidad>Disponible para trabajar</BadgeDisponibilidad> 
                </a>
            </div>
             <h1 class="text-white text-5xl lg:text-4xl font-bold">
                Hola, soy <span class="text-blue-400">Bryant Ponce</span>
            </h1>
            <h2 class="text-2xl text-gray-300 text-wrap">Desarrollador Web Full Stack</h2>
            
             <p class="mt-4 text-gray-400  leading-relaxed ">
                Tengo experiencia en el desarrollo de 
                <span class="text-white font-medium"> aplicaciones web escalables</span> y de
                con tecnologías modernas de 
                <span class="text-white font-medium">Microsoft</span> y 
                <span class="text-white font-medium">JavaScript</span>.
            </p>
            <p class="mt-2 text-sm text-white/50 italic mb-3">
                Actualmente me encuentro aprendiendo <span class="text-sky-400 font-semibold">React</span> para ampliar mis habilidades.
            </p>

            <nav class="flex gap-x-2">
                <Socials href="https://www.linkedin.com/in/bryant-ponce/" title="LinkedIn">
                    <LinkedInIcon class="size-6 text-white" /> LinkedIn
                </Socials>
                <Socials href="https://github.com/BryantGit" title="GitHub">
                    <GithubIcon class="size-6 text-white" /> GitHub
                </Socials>
            </nav>
        
        </SectionContainer>

            <SectionContainer class="border-t border-gray-800 pt-16 mt-16" id="experiencia">

                <h2  class="text-2xl md:text-3xl font-semibold tracking-tight text-white mb-6">
                Experiencia Laboral
                </h2>
                <Experience />
            </SectionContainer>
            <SectionContainer class="border-t border-gray-800 pt-16 mt-16" id="proyectos">
                   <h2 class="text-2xl md:text-3xl font-semibold tracking-tight text-white mb-6">
                    Proyectos
                </h2>
                
                <Projects />
            </SectionContainer>
            <SectionContainer class="border-t border-gray-800 pt-16 mt-16" id="sobre-mi">
                   <h2 class="text-2xl md:text-3xl font-semibold tracking-tight  mb-6">
                    Sobre de mí
                </h2>
                <p class="text-blue-400 mb-6">
                    Ingeniero en tecnologías de la información.</p>
                <About />
            </SectionContainer>

            <Footer class="border-t border-gray-800 pt-16 mt-16">
            </Footer>
    </main>
</Layout>
