---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Junio 2024 - Junio 2025",
    title: "Desarrollador Web Full Stack",
    company: "Hunika",
    description: [
      "Desarrollo de aplicaciones web escalables con Angular y C#.",
      "Implementación de arquitectura multicapa siguiendo SOLID y Clean Code.",
      "Integración de APIs externas y sistemas internos.",
      "Gestión de versiones y CI/CD en Azure DevOps."
    ],
    technologies: [
      { name: "Angular", icon: "/icons/react.svg", color: "bg-blue-600 text-white" },
      { name: "Node.js", icon: "/icons/node.svg", color: "bg-green-600 text-white" },
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "SQL", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Azure DevOps", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "GitHub", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
    ],
  },
  {
    date: "Marzo 2024 - Junio 2024",
    title: "Consultor IT",
    company: "Magna Cosma",
    description: [
      "Mantenimiento y desarrollo de aplicaciones web y de escritorio.",
      "Diseño de bases de datos y desarrollo de APIs REST.",
      "Colaboración con departamentos para traducir requisitos en soluciones.",
      "Liderazgo en nuevos proyectos desde análisis hasta implementación." 
    ],
    technologies: [
      { name: "Angular", icon: "/icons/react.svg", color: "bg-blue-600 text-white" },
      { name: "Node.js", icon: "/icons/node.svg", color: "bg-green-600 text-white" },
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "SAP", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "SQL", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
    ],
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
