---
import ExperienceItem from "./ExperienceItem.astro"


const EXPERIENCE = [
  {
    index : 0,
    date: "Junio 2024 - Junio 2025",
    title: "Desarrollador Web Full Stack",
    company: "Be-It Software Factory",
    description: [
      "Desarrollo de aplicaciones web escalables con Angular y C#.",
      "Implementación de arquitectura multicapa siguiendo SOLID y Clean Code.",
      "Integración de APIs externas y sistemas internos.",
      "Gestión de versiones y CI/CD en Azure DevOps.",
      "Administración y desarrollo sobre bases de datos SQL Server, diseño de modelos, procedimientos almacenados y consultas complejas.",
      "Desarrollo de soluciones para clientes nacionales, adaptando requerimientos a soluciones técnicas viables.",
    ],
    technologies: [
      { name: "Angular", icon: "/icons/react.svg", color: "bg-blue-600 text-white" },
      { name: "Node.js", icon: "/icons/node.svg", color: "bg-green-600 text-white" },
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Azure DevOps", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "GitHub", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Postman", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Figma", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Bootstrap", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "SQL Server", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
    ],
  },
  {
    index : 1,
    date: "Marzo 2024 - Junio 2024",
    title: "Consultor IT",
    company: "In-Tech (Magna Cosma, S.L.P.)",
    description: [
      "Mantenimiento y desarrollo de aplicaciones web y de escritorio.",
      "Diseño de bases de datos y desarrollo de APIs REST.",
      "Colaboración con departamentos para traducir requisitos en soluciones.",
      "Liderazgo en nuevos proyectos desde análisis hasta implementación." 
    ],
    technologies: [
      { name: "Angular", icon: "/icons/react.svg", color: "bg-blue-600 text-white" },
      { name: "Node.js", icon: "/icons/node.svg", color: "bg-green-600 text-white" },
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "SAP", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "SQL", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Windows Form", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "TypeScript", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "GitHub", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Swagger", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
    ],
  },
  {
    index : 2,
    date: "Marzo 2023 - Febrero 2024",
    title: "Desarrollador Full Stack",
    company: "Robert Bosch S.L.P.",
    description: [
      "Prácticas profesionales en empresa global, participando en el desarrollo de aplicaciones escalables, resolución de problemas críticos, y despliegue de plataformas a nivel planta.",
      "Colaboré en gestión de servicios, revisiones de código y diseño de bases de datos compleja",
    
    ],
    technologies: [
      { name: "Oracle", color: "bg-purple-600 text-white" },
      { name: "Azure", color: "bg-purple-600 text-white" },
      { name: ".NET",  color: "bg-purple-600 text-white" },
      { name: "GitHub", color: "bg-purple-600 text-white" },
      { name: "WPF", color: "bg-purple-600 text-white" },
    ],
  },
  {
    index : 3,
    date: "Marzo 2022 - Agosto 2023",
    title: "Practicante Desarrollador Web Jr.",
    company: "Drop Intelligence S.L.P.",
    description: [
      "Desarrollo de aplicaciones web, JS, CSS3, HTML5, PHP.",
      "Gestión de proyectos con Git. Mantenimiento y actualización de proyectos antiguos",
      "Gestión de modelos de bases de datos."
    ],
    technologies: [
      { name: "Laravel", icon: "/icons/react.svg", color: "bg-blue-600 text-white" },
      { name: "PHP", icon: "/icons/node.svg", color: "bg-green-600 text-white" },
      { name: "HTMl", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "CSS", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Bootstrap", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "JavaScript", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
    ],
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
