---
import ProjectItem from "./ProjectsItem.astro"

const PROJECTS = [
  {
    name: "Portafolio personal",
    description: "Sitio web con mis trabajos y experiencia, desarrollado con Astro, TailwindCSS y desplegado en Vercel.",
    technologies: [
      { name: "Astro", icon: "../assets/icons/AstroJS.astro", color: "bg-purple-600 text-white" },
      { name: "TailwindCSS", icon: "/icons/tailwind.svg", color: "bg-cyan-500 text-white" },
      { name: "Vercel", icon: "/icons/vercel.svg", color: "bg-black text-white" },
    ],
    github: "https://github.com/BryantGit/PortafolioBryant",
    demo: "https://portafolio-bryant.vercel.app/",
    visibility: "Público"
  },
  {
    name: "Fortum",
    description: "Aplicación web de gestión de personal y facturación. Desarrollada con .NET Core, Angular y SQL Server, desplegada en Azure.",
    technologies: [
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Angular", icon: "/icons/angular.svg", color: "bg-red-600 text-white" },
      { name: "SQL Server", icon: "/icons/sqlserver.svg", color: "bg-red-600 text-white" },
      { name: "Azure", icon: "/icons/azure.svg", color: "bg-blue-600 text-white" },
    ],
    github: "",
    demo: "",
    visibility: "Privado"
  },
  {
    name: "Ser-Project",
    description: "Aplicación web para gestión de proyectos, con control de pagos externos y aportes mensuales, generación de reportes y exportación de a Excel.",
    technologies: [
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Angular", icon: "/icons/angular.svg", color: "bg-red-600 text-white" },
      { name: "SQL Server", icon: "/icons/sqlserver.svg", color: "bg-red-600 text-white" },
    ],
    github: "",
    demo: "",
    visibility: "Privado"
  },
  {
    name: "BatchAndHold",
    description: "Aplicación web para el manejo de inventario mediante conexion a SAP, con generación de reportes y exportación a Excel.",
    technologies: [
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Angular", icon: "/icons/angular.svg", color: "bg-red-600 text-white" },
      { name: "SQL Server", icon: "/icons/sqlserver.svg", color: "bg-red-600 text-white" },
      { name: "SAP", icon: "/icons/sqlserver.svg", color: "bg-red-600 text-white" },
    ],
    github: "",
    demo: "",
    visibility: "Privado"
  },
   {
    name: "Pase de Corredor",
    description: "Aplicación de escritorio para gestión de personal, con control de áreas, asignación de permisos y generación de reportes mensuales.",
    technologies: [
      { name: ".NET", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "WPF", icon: "/icons/dotnet.svg", color: "bg-purple-600 text-white" },
      { name: "Oracle/PLSLQ", icon: "/icons/angular.svg", color: "bg-red-600 text-white" },
      { name: "Power Bi", icon: "/icons/sqlserver.svg", color: "bg-red-600 text-white" },
    ],
    github: "",
    demo: "",
    visibility: "Privado"
  },












]
---

<section class="container mx-auto px-4 py-12">
  <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    {
      PROJECTS.map((project) => (
        <ProjectItem {...project} />
      ))
    }
  </div>
</section>
